<mat-card class="example-card" >
  <mat-card-header>
    <mat-card-title class="title" title="{{ product.name }}">{{
      product.name
    }}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
    <mat-card-subtitle>disponibles: {{ product.stock }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p class="description" #descriptionRef>
      {{ product.description }}
    </p>
    <div class="more__description" (click)="moreDescription()" *ngIf="isMode">
      <span>mostrar mas</span>
      <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_down</mat-icon>
    </div>
    <div class="more__description" (click)="moreDescription()" *ngIf="!isMode">
      <span>mostrar menos</span>
      <mat-icon aria-hidden="false" aria-label="Example home icon">keyboard_arrow_up</mat-icon>
    </div>
  </mat-card-content>
  <mat-card-actions class="flex__action">
    <div>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
      <mat-icon>star</mat-icon>
    </div>
    <button mat-flat-button color="warn" (click)="addCart()" [disabled]="product.stock === 0">
      {{ product.price | currency }}
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
