.content__general__app{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 64px repeat(2, 1f);
    grid-gap: 1rem;
    background: #1f1f38;
    background-image: url(../assets/global/bg-texture.png);

    .conten__router{
        display: flex;  
        justify-content: center;
    }

    .toggle__menu{
        position: fixed;
        top: 20%;
        margin: 0;
        transform: translateX(-100%);
        transition: all 0.6s ease;
        background: rgb(38, 102, 212);
    }
    .toggle__menu.active{
        transform: translateX(0);
    }
}