div.container__detail__cart__generla{
  
  display: grid;
  grid-template-rows: 400px 1fr;
  grid-row-gap: 2rem;
  background: var(--color-component-bg);
  border-radius: 4px;
  
  .example-container {
    min-width: 700px;
    max-width: 854px;
    width: 100%;
    height: 400px;
    overflow: auto;

    table {
      width: 100%;
      
      .product_fila{
        width: 50%;
      }
    }
    
    th{

      padding: 0 0.5rem;
    }

    td{
        
      padding: 0 0.5rem;

      .aritmetic__quantity{
        padding: 0.1rem 0.5rem;
        background: rgb(210, 206, 206);
        border-radius:  4px 4px 4px 4px;
        margin:  0 0.2rem;
        font-weight: 600;
        font-size: 1rem;
        cursor: pointer;

      }

      .delete__product__cart{
        background: rgb(202, 51, 51);
        padding: 0.5rem;
        border-radius: 4px 4px 4px 4px;
        color: #fff;
        cursor: pointer;
      }
    }
    
    tr.mat-footer-row {
      font-weight: bold;
    }
    
    .mat-table-sticky {
      border-top: 1px solid #e0e0e0;
    }
  }

  .value__cart{
    
    width: 95%;
    display: flex;
    justify-content: end;

    div{
      th{
        font-size: 1rem;
        padding: 0.2rem 0.5rem;
      }
      td{
        font-size: 1rem;
        padding: 0.2rem 0.5rem;
      }
    }
  }
}

