<div class="container__detail__cart__generla">
  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th class="product_fila" mat-header-cell *matHeaderCellDef>producto</th>
        <td class="product_fila" mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>cantidad</th>
        <td mat-cell *matCellDef="let element">
         <span class="aritmetic__quantity"> - </span> 
         {{ element.quantity }}
         <span class="aritmetic__quantity"> + </span>
        </td>
      </ng-container>

      <!-- price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>precio</th>
        <td mat-cell *matCellDef="let element">
          {{ element.price | currency }}
        </td>
      </ng-container>
      <!-- price Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <span class="delete__product__cart" (click)="deleteProductCart(element)">Quitar</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <table class="value__cart">
    <div>
      <tr>
        <th>SubTotal :</th>
        <td>{{ subTotal$ | async | currency }}</td>
      </tr>
      <tr>
        <th>Iva 12% :</th>
        <td>{{ iva$ | async | currency }}</td>
      </tr>
      <tr>
        <th>Total :</th>
        <td>{{ Total$ | async | currency }}</td>
      </tr>
    </div>
  </table>
</div>
