<div class="container">
  <form class="example-form" #checkoutForm="ngForm">
    <h2>Datos de Envio</h2>
    <table class="example-full-width" cellspacing="0">
      <tr class="flex__wraper">
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombres Completos</mat-label>
            <input
              matInput
              [(ngModel)]="model.firstName"
              name="firstName"
              #firstName="ngModel"
              required
            />
            <mat-error *ngIf="firstName.invalid || firstName.pristine">
              Este campo es requerido
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Apellidos Completos</mat-label>
            <input
              matInput
              [(ngModel)]="model.lastName"
              name="lastName"
              #lastName="ngModel"
              required
            />
            <mat-error *ngIf="lastName.invalid || lastName.pristine">
              Este campo es requerido
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <div class="form__ratio_delivey">
            <mat-radio-group aria-label="Select an option">
              <p>Estrega a domicilio?</p>
              <mat-radio-button value="1">No</mat-radio-button>
              <mat-radio-button value="2">Si</mat-radio-button>
            </mat-radio-group>
          </div>
        </td>
      </tr>
    </table>

    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Direccion</mat-label>
        <textarea
          matInput
          placeholder="Ex. 100 Main St"
          [(ngModel)]="model.adress"
          name="adress"
          #adress="ngModel"
          required
        >
        </textarea>
        <mat-error *ngIf="adress.invalid || adress.pristine">
          Este campo es requerido
        </mat-error>
      </mat-form-field>
    </p>

    <table class="example-full-width" cellspacing="0">
      <tr class="flex__wraper">
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Ciudad</mat-label>
            <input
              matInput
              placeholder="Ex. Esmeraldas"
              [(ngModel)]="model.city"
              name="city"
              #city="ngModel"
              required
            />
            <mat-error *ngIf="city.invalid || city.pristine">
              Este campo es requerido
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Pais</mat-label>
            <input
              matInput
              placeholder="Ex. Ecuador"
              [(ngModel)]="model.country"
              name="country"
              #country="ngModel"
              required
            />
            <mat-error *ngIf="country.invalid || country.pristine">
              Este campo es requerido
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Store</mat-label>
            <mat-select 
            placeholder="Ex. Ecuador"
            [(ngModel)]="model.store"
            name="store"
            #store="ngModel"
            required
            >
              <mat-option *ngFor="let store of stores" [value]="store.id">
                {{ store.name }} - {{ store.address }} - {{ store.city }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="store.invalid || store.pristine">
              Este campo es requerido
            </mat-error>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telefono</mat-label>
            <span matPrefix>+593 &nbsp;</span>
            <input
              type="tel"
              matInput
              placeholder="555-555-1234"
              [(ngModel)]="model.phone"
              name="phone"
              #phone="ngModel"
              required
            />
            <mat-icon matSuffix>mode_edit</mat-icon>
            <mat-error *ngIf="phone.invalid || phone.pristine">
              Este campo es requerido
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <div>
      <button
        mat-flat-button
        color="primary"
        [disabled]="checkoutForm.form.invalid"
        type="submit"
        (click)="onSubmit()"
      >
        Realizar Pago
      </button>
    </div>
  </form>

  <app-details-products-cart></app-details-products-cart>
</div>
